/* Improve spacing in tutorial and API pages. */

section h2,
.section h2 {
  margin-top: 2.3rem;
}

section h3,
.section h3 {
  margin-top: 1.8rem;
}

.wy-table-responsive {
  margin-bottom: 1.4rem;
}
